@media screen and (max-width: 750px) {
  .header {
    width: 100%;
    height: 70px;
  }
  .logo {
    width: 100px;
    height: 70px;
  }
  .content {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    padding: 5px;
  }
}